@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter:regular&subset=latin);
@font-face {font-family: 'appleberry';font-weight:normal;font-style:normal;src: local('appleberry'), local("appleberry"), url("appleberry.ttf") format("truetype");}
@font-face {font-family: 'Calibri';font-weight:normal;font-style:normal;src: local('Calibri'), local("Calibri"), url("calibri.ttf") format("truetype");}
